*.pyc
*.swp
*~
.svn
static/status
static/output
parsed_out
conf.ini
data
static/scrape_data
db
static/leaderboard

.venv*
build
*.log
*.log.*

.ropeproject

# Local files from development host
.vagrant
pip-cache
wheelhouse
private_vars.yml
