amqplib==1.0.2
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.18
boto==2.6.0
celery==3.0.12
distribute==0.6.30
kombu==2.4.10
numpy==1.6.2
pymongo==2.3
python-dateutil==1.5
redis==2.7.2
scipy==0.11.0
simplejson==2.6.2
wsgiref==0.1.2
